
.borderless-drawer {
  width: 20%;
  max-width: 300px;
  min-width: 300px;
  height: 100vh;
  border-right: none;
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow: hidden;}
.example-container {
  height: 100vh;
}
@media (max-width: 800px) {
  .borderless-drawer {
    width: 100%;
    min-width: 0; }
}
.menu-button {
  background-color: transparent;
  transition: background-color 0.3s;
}
@media (max-width: 800px) {
  .menu-button {
    background-color: black;
  }
  .menu-button mat-icon {
    color: white;
  }
}



