<mat-drawer-container class="example-container">
  <mat-drawer #sidebar mode="side" class="borderless-drawer">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <!-- Flex container for the button and header -->
    <div class="header-container d-flex align-items-center justify-content-between">
      <!-- Button, only visible on smaller screens when sidebar is in 'over' mode -->
      <button
        mat-icon-button
        *ngIf="sidebar.mode === 'over'"
        (click)="sidebar.toggle()"
        class="menu-button"
      >
        <mat-icon *ngIf="!sidebar.opened"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg></mat-icon>
        <mat-icon *ngIf="sidebar.opened">close</mat-icon>
      </button>
      <!-- Header spans full width on larger screens -->
      <app-header class="flex-grow-1"></app-header>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

