gridster {
  background-color: #eee9e9;
  width: 100%;
  padding: 0;
  height: 140%;
}

gridster-item {
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
  border-radius: 0.25em;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  flex-direction: column;
}


